<h1 ><font face="verdana" color="black">612Plan</font></h1>

<div class="topnav">
  <a class="active" href="">Our Vision</a>
  <a href="subscribe">Stay In The Know</a>
  <div class="topnav-right">
    <a href="fine-art">Fine Art</a>
    <a href="music">Music</a>
    <a href="comedy">Comedy</a>
    <a href="food-spirits">Food/Spirits</a>
  </div>
</div>

<div style="padding-left:16px">
  <h2>Food & Spirits</h2>
</div>
<p style="background-image:url('assets/mixology.jpg'); background-position: center; background-repeat:no-repeat; background-size:1200px 600px; /* width height */">
<font face="verdana"><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br></font>
</p>
<p>Event 1</p>
