
<p style="background-image:url('C://wiredhead.jpg'); background-repeat:no-repeat; background-size:1000px 900px; /* width height */">
<font face="gentium basic"  size="18" color="gray">We are Minnesota locals who like exploring<br>
the local watering hole & eclectic local bands.<br>
Our dream is to fuel your gumption<br>
to get off your ass & try something new.<br>
We love our Twin Cities,<br>
complete with hospitality & debauchery.<br>
Make plans for tonight<br>
and find a new favorite spot.<br>
Cheers!<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br></font>
</p>
